.cr-task {
  margin-top: 4em;
  padding: 2em;
  background-color: rgba(250, 250, 250, 0.3);
  border-radius: 7px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.03);

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    color: $white;
    letter-spacing: 1px;
  }

  &__item {
    width: 100%;
    height: 40px;
    margin-bottom: 2px;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    color: $black;
    text-align: left;
    background-color: $white;
    border-radius: $border-radius-base;
  }
}